.chat-window-wrapper {
    display: flex;
    width: 100%;

    .chat-window {
        width: 100%;
        height: 100vh;
        min-width: 0;

        .User-header {
            display: flex;
            gap: 12px;
            padding: 12px;
            border-bottom: 1px solid var(--lightgrey-color);
        }
    }

    .sidepane {
        padding: 12px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-right: 1px solid var(--lightgrey-color);
        min-width: 0;

        .self-user-detail {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }

        .chat-user-list {
            ul {
                padding: 0px;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }
    }

}