.message-wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .message-box {
        padding: 12px;
        background-color: aliceblue;
    }

}